{% load static %}
<footer class="footer-distributed">

    <div class="footer-left">
        <p>news</p>
        <br>
        <br>
    </div>

    <div class="footer-center">


        <div style="border-left: 2px solid #ff8533 ;
    height: 150px;">
            <h4 style=" margin-left:30px; margin-top:-40px;  font-family: 'Crete Round', serif; color: #ffffff;">Contact
                Info</h4>
            <i class="fa fa-phone" style="margin-right:13px;"></i>

            <img src="{% static " images/icon1.png" %}" style="width:35px;">
            <p>+923350720102</p>
        </div>
        <div style="margin-top:-50px; margin-left:5px;">
            <i class="fa fa-envelope"></i>
            <img src="{% static " images/icons3.png" %}" style="width:30px; ">
            <p><a href="mailto:newsstudio477@gmail.com">newsstudio477@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">
        <div style="border-left: 2px solid #ff8533 ;
    height: 150px; margin-top:-35px;">
            <p class="footer-company-about">
            <h4 style=" margin-left:30px; margin-top:-40px;  font-family: 'Crete Round', serif; color: #ffffff;">About
                the
                Site</h4>
            </h4>
            </p>

        </div>

</footer>