{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>News Studio</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>


<style>
    body {
        background-color: #000000;
       
    }

    .zoom {

        transition: transform .1s;
        width: 20rem;
        height: 600px;
        text-align: justify;
        border-radius: 25px;
        box-shadow: 10px 10px #adad85;
        color:black;
        overflow-y: scroll;
        box-shadow: 10px 10px  #000000;
    }

    ::-webkit-scrollbar {
        width: 10px;
        display: block;

    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 20px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: grey;
        border-radius: 5px;
    }


    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #1f1f14;
    }

    .zoom:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }

    p {
        line-height: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-family: 'Crete Round', serif;
        font-weight: bold;
        color: #444444;
        font-size: 45px;
        margin-bottom: 20px;
        float: left;
    }

    h2 {

        font-weight: 300;
        color: #ffffff;
        font-size: 55px;
        text-align: center;
        margin:auto;
        
    }
    .title{
        font-size:20px; 
        color:#000000; 
        margin-top:-10px;
        text-align:center;
        font-family: Copperplate;
    }
   .subtitle{
    color:#000000;  
    text-align:center;
    font-family: Copperplate;
   }
   .card-body{
    font-family: Copperplate;
   }
    a {
        text-decoration: none;
        color: #444;
    }

    a:hover {
        color:  #ffb366;
    }

    strong {
        font-weight: bold;
    }

    small {
        font-size: 13px;
        color: #777;
        font-style: italic;
    }

    .clear {
        clear: both;
    }

    .wrapper {
        margin: 0 auto;
        padding: 0 10px;
        width: 940px;
    }

    header {
        height: 100px;
    }

    header h1 {
        float: left;
        margin-top: 26px;
    }

    header h1 .color {
        color: #ff8533;
    }

    header nav {
        float: right;
    }

    header nav ul li {

        display: inline-block;
        margin-top: 50px;
    }

    header nav ul li a {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        margin-right: 20px;
        border-bottom: 2px solid #ff8533;
        font-family: 'Crete Round', serif;
    }

    #hero-image {
        height: 660px;
        padding-top: 1px;
        background: url("{% static 'images/img3.jpg' %}") no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        margin-top: -100px;
    }

    #hero-image h2 {
        margin: 180px 0 40px 0;
    }

    input[type=button] {
        background-color:#e67300;
        border-radius: 20px;
        color: white;
        font-family: Copperplate;
        background-color:transparent;
        text-decoration: none;
        font-weight: bold;
        margin:2px 90px;
        margin-top:20px;
        margin-left:380px;
        cursor: pointer;
      }
      input[type=button]:hover{
        background-color: #ff8c1a;
      }
      input[type=submit] {
        font-family: Copperplate;
        border-radius: 20px;
        color: #ffffff;
       margin-top:-87px;
        text-decoration: none;
        font-weight: bold;
       position:absolute;
       background-color:transparent;
       height:35px;
        cursor: pointer;
      }
      input[type=submit]:hover{
        background-color: #ff8c1a;
      }
      .search-container {
        position: relative;
      }
  
      .search-container img {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        height: 22px;
        width: 30px;
        margin-right:328px;
        margin-top:5px;
      }
      input[type=text] {
        width: 30%;
        border-radius: 20px;
        font-size: 17px;
        margin-left:306px;
        color:#ffffff;
        height:36px;
        font-family: Copperplate;
        background-color: transparent;
     
        border: 1px solid #ccc;

        margin-top:10px;
      }
       

    .footer-distributed {
        background:  #000000;
        font: bold 16px sans-serif;
        padding: 55px 52px;
        font-family: Copperplate;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }


    /* Footer left */

    .footer-distributed .footer-left {
        width: 40%;
    }
    .footer-distributed .footer-left img{
    width:300px;
    margin-top:-120px;
    margin-left:-100px;
    height:290px;
    margin-bottom:-180px;
    position:absolute;
    }
    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
        margin-top:20px;
    }

    .footer-distributed .footer-center i {
       
        color: #ffffff;
        text-align: center;
        margin: 10px 15px;
        vertical-align: middle;
    }

    

    .footer-distributed .footer-center p {
        display: inline-block;
        color: #ffffff;
        font-weight: 400;
        vertical-align: middle;
        margin: 0;
        padding:20px 5px;
    }

    .footer-distributed .footer-center h4{
        margin-left:30px; 
        margin-top:-40px; 
        font-family: 'Crete Round', serif;
        color: #ffffff;"
    }

    .footer-distributed .footer-center p a {
        color: lightseagreen;
        text-decoration: none;
    
    }

    /* Footer Right */

    .footer-distributed .footer-right {
        width: 20%;
        
    }


    .footer-distributed .footer-right  h4{
        margin-left:30px; 
        margin-top:-40px; 
         font-family: 'Crete Round', serif;
          color: #ffffff;
    }
   
    .footer-distributed p
    {
        margin-left:30px;
        text-align:justify;
    }
       
    
    
</style>