{% load static %}
<div id="hero-image">
    <div class="wrapper">
        <h2 style="margin-top:250px; text-shadow: 0 0 20px #FF0000, 0 0 5px #b34700;   font-family:Gabriola ;">
            The Name You Know <br> & News You Need!</h2>

        <form method="post" action="newscategory" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="search-container">
                
                
             
            <input type="text" placeholder="  Search Category Here..." name="transcribed_text" id="transcribed_text" name="voice">
            <img src="{% static "images/searchicon1.png"%}" alt="search icon">
        </div>
            
            <input type="button" onclick="startRecording()"  value="Start Recording">
            <input type="button" class="fa fa-search" onclick="stopRecording()"  value="Stop Recording">
            <input type="submit" value="Search...">
            <br><br>
           
        </form>
        <script>
            var transcribed_text_input = document.getElementById('transcribed_text');

            function startRecording() {
                // Use the browser's built-in Web Speech API to start recording the user's voice
                var recognition = new webkitSpeechRecognition();
                recognition.onresult = function (event) {
                    var transcribed_text = event.results[0][0].transcript;
                    transcribed_text_input.value = transcribed_text;
                };
                recognition.start();
            }

            function stopRecording() {
                // Stop recording the user's voice
                recognition.stop();
            }
        </script>

    </div>
</div>