{% extends "base.html" %}
{% load static%}

{% block main-content %}
<div id="hero-image">
  <div class="wrapper">
    <h2 class="font-effect-shadow-multiple"
      style="font-family: Audiowide, sans-serif; text-shadow: 5px 5px 5px #ababab; color: #000000;">
      THE NAME YOU KNOW <br> & News You Need.</h2>
    <form action="" method="get">
      <input type="text" name="category">
      <button type="submit" value="Search">Search</button>
    </form>

  </div>
</div>
<section class="section">
  {% block content %}
  <div class="container">

    <div class="row">
      {% for title, desc, i in mylist %}
      <div class="col-sm-4" style="padding:20px;">
        <div class="zoom">
          <article class="media">
            <div class="media-content">
              <div class="col-sm">
                <p>
                <h2 class="title" style="font-size:20px; margin-top:-10px;">{{ title }}</h2>
                <br>
                <img src="{{ i }}" alt="" style="padding-bottom:20px; height:250px; ">
                <span class="subtitle">{{ desc }}</span>

                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      {% endfor %}

    </div>
</section>
{% endblock %}

{% endblock %}





</body>

</html>